<h3>Meetup agendado com sucesso!</h3>

<p>Agora é só aguardar e comparecer e se nutrir de todo conteúdo!</p>
<p>E claro, não deixar de construir novas networks com os dev's presentes!</p>
<p>Segue os dados do evento:</p>
<ul>
  <li>Local: {{ meetup.localization }} </li>
  <li>Data: {{ meetup.date }}</li>
</ul>

<strong>Contamos com sua presença!</strong>
